<h1>Welcome to your Diary App</h1>

<form action='/diary/add' method='post'>
  <input type='text' name='title' value='Input Title'/>
  <input type='text' name='entry' value='Input Entry'/>
  <input type='submit' value='Submit'/>
</form>
