<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

<h1>Welcome to your Diary App</h1>

<a href='/diary/add'>
  <button>Add a diary entry...</button>
</a>
<a href='/diary/list'>
  <button>View all diary entries here...</button>
</a>

</body>
</html>
