/* html {
  color: rgb(34, 107, 226);
  background-color: lightgrey;
  font-family: impact;
  margin: 200px;
  min-width: 200px;
  text-align: center
}

a {
  background-color: yellow;
  margin: 10px;
  padding: 10px;
  border-color: red;
  border-width: 2px;
  border-style: solid;
  color: red;
} */
