<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>


<h1>You can add your new diary entry below...</h1>

<form action='/diary/add' method='post'>
  <input type='text' name='title' value='Input Title'/>
  <input type='text' name='entry' value='Input Entry'/>
  <input type='submit' value='Submit'/>
</form>

<button>
  <a href='/'>Home</a>
</button>

</body>
</html>
