<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>


<h1>Diary Entry: <%= @diary_entry.title %></h1>

<p><%= @diary_entry.entry %></p>

<footer>
  <a href='/'>Home</a>
</footer>

</body>
</html>
